@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.19") format("woff2")
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.19") format("woff2")
}

html {
	font-family: 'Inter', sans-serif;
	font-feature-settings: 'frac', 'zero', 'cv02', 'cv03', 'cv04', 'cv05', 'cv06', 'cv08', 'cv09';
}